<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts_list</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'category_list' %}">Accounts</a>
            <a href="{% url 'create_account' %}">Create Account</a>
        </nav>
    </header>
    <main>
        <div>
          <h1>Accounts</h1>
          <table>
            <thead>
              <th>Name</th>
              <th>Number</th>
              <th>Number of receipts</th>
            </thead>
            <tbody>
              {% for account in accounts_list %}
                <tr>
                    <td>{{account.name}}</td>
                    <td>{{account.number}}</td>
                    <td>{{account.receipts.all|length}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </main>

</body>
</html>