<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category_List</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'account_list' %}">Accounts</a>
            <a href="{% url 'create_category' %}">Create Category</a>
        </nav>
    </header>
    <main>
     <div>
          <h1>Categories</h1>
          <table>
            <thead>
              <th>Name</th>
              <th>Number of receipts</th>
            </thead>
            <tbody>
              {% for category in category_list %}
                <tr>
                  <td>{{category.name}}</td>
                  <td>{{category.receipts.all|length}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
 </main>


</body>
</html>