<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Receipt</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'login' %}">Login</a>
        </nav>
    </header>
    <main>
        <div>
            <h1> Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
              <button>Create</button>
            </form>

        </div>

    </main>

</body>
</html>